@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,500i,700,700i&display=swap');

@font-face {font-family: 'ETmodules'; src: url(https://db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.woff2);}

img{border:0}body{margin:0}
footer,header,main,menu,nav,section{display:block}a:active,a:hover{color:#22bede;outline:0}b,strong{font-weight:700}h1{font-size:2em;margin:.67em 0}

p{margin: 0;margin-bottom:20px;}em,i{font-style:italic}
p {
    margin: 0;
    margin-bottom: 11px;
}
article {
	font-size: 27px;
}
post {	
	display: block;
	max-width: 1040px;
	border-radius: 20px;
	margin-left: 640px;
    	margin-top: 50px;
}
br.mo{
	display:none;
}
img.is-rounded{
	border-radius: 290486px;
	display: block;
	width: 500px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
	float: left;
    	margin-left: 140px;
    	margin-top: -40px;
}
body{
	background-color:#fff;
	font-family: 'Red Hat Display', sans-serif;
	color: #000;
	font-size: 22px;
    	line-height: 1.75;
}
h1, h2, h3{
	font-family: 'Red Hat Display', sans-serif;
	margin: 0;
	margin-bottom: 10px;
	font-weight: bold;
}
h1,
.h1{
	font-size:33px;
	font-weight: 700;
	line-height: 1.4;
}
h2,
.h2{
    font-size: 64.25px;
    line-height: 0.97;
}
h3,
.h3{
	font-size:22px;
	line-height: 1.6;
}
a {
	text-decoration:none;
	color: black;
}
@media screen and (max-width: 980px){
	
}
@media screen and (max-width: 768px){
	h1, .h1 {
		font-size: 26px;
	}
	h2, .h2 {
		font-size: 20px;
	}
	h3, .h3 {
		font-size: 18px;
	}
	article {
		font-size: 17px;
	}
	post {
		font-size: 17px;
		margin: auto;
	}
	img.is-rounded{
		margin: auto;
		margin-top: -40px;
	}
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}
ul {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    list-style: disc;
}
html {
	box-sizing: border-box;
}
#page{
	overflow:hidden;
	position: relative;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.section-inner {
	max-width: 1040px;
	width: 86%;
	margin: auto;
	position:relative;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; 
}

.main-logo {
	width: 56px;
}

.site-header-top{
	background-color:#000000;
	padding-top: 16px;
	padding-bottom: 17px;
	z-index: 2;
	position: relative;
}
.site-header-top .section-inner{
	color:#FFF;
	text-align:center;
	letter-spacing: 4px;
}
.site-header-top .section-inner strong{
	color:#22bede;
	font-weight: 600;
	padding-right: 5px;
}
.site-header-top .section-inner a{
	color:#FFF;
}
.site-header .section-inner{
    padding-top: 10px;
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}
.logo{
	width: 25%;
	padding-top: 12px;
	padding-bottom: 13px;
}
.logo img{
	max-width: 56px;
}
.header-left{
	width: 75%;
	text-align: right;
	padding-top: 13px;
	padding-bottom: 16px;
	position: relative;
}

.main-navigation ul {
    margin: 0;
    width: auto;
    padding-left: 0;
    list-style: none;
    display: inline-block;
}
.main-navigation li {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.03);
    float: left;
    margin-left: 18px;
    padding-right: 17px;
}
.main-navigation li:before{
	content:"";
	width: 2px;
	height: 14px;
	background-color: #000;
	top: 12px;
	right: 0px;
	display: block;
	position: absolute;
}
.main-navigation li ul li{
	margin-right: 0;
}
.main-navigation a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 2px 29px 2px;
    margin-bottom: -25px;
    color: #0b1e39;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
    text-transform: capitalize;
}
.main-navigation ul ul a {
	padding-bottom: 4px !important;
	margin-bottom:0px !important;
	padding-top: 10px;
	letter-spacing: 0.3px;
    display: block;
}
.main-navigation li:hover{
	color:#ffbb9e;
}
.main-navigation li a:hover{
	color: #22bede;
}
.main-navigation ul ul {
    float: left;
    position: absolute;
    top: 60px;
    left: 0em;
    z-index: 99999;
    text-align: left;
    display: none;
  	background-color: #ffffff;
  	box-shadow: 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 5px 5px;
	padding-top: 9px;
    padding-bottom: 9px;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul li {
	width: 116.5px;
}
.main-navigation ul ul li {
	border-radius: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	background-color:rgba(0, 0, 0, 0);
	margin-left: 0;
}
.main-navigation ul ul li a{
	margin-left: 0;
	color: #0d6ea9;
	border-top: 0;
	padding-bottom: 7px;
	padding-top: 7px;

	padding-left: 15px;
	padding-right: 15px;
}
.main-navigation ul ul li a:hover{
	background-color:rgba(255, 255, 255, 0.13);
	color: #0b1e39;
	opacity:1;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}
.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}
.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

a.responsive-menu-hand{
	position: absolute;
	bottom: 18px;
	right: 0;
	display: none;
	height: 40px;
	width: 40px;
	z-index: 999;
	cursor: pointer;
	background-image: url(mobile-menu-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	font-size:0;	
}
a.responsive-menu-close{
	clear: both;
	height: 40px;
	width: 40px;
	display: block;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	color: #fff;
	font-size: 27px;
	background-image: url(x.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 15px;
	right: 15px;
}
a.responsive-menu-close:hover{
	background-color: #fff;
}

.responsive-menu{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: -110%;
	background: #22bedef5;  
	z-index:999999;
	overflow:scroll;
	overflow-y: auto;
	overflow-x: auto;
	font-family: 'Roboto', sans-serif;
	transition: right 0.5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.responsive-menu.active{
	right:0;
}
.responsive-menu ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    border-bottom: 0;
}
.responsive-menu ul li{
	 margin:0;
	 padding:0;
	 list-style-type:none;
	 position:relative;
	 margin-bottom: 13px;
}
.responsive-menu ul li a{
    line-height: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 32px !important;
    letter-spacing: 0.3px;
    position: relative;
    text-transform:uppercase;
    text-align: center;
    line-height: 1.52;
    font-weight: bold;
    font-family: 'Red Hat Display', sans-serif;
}
.responsive-menu ul li:hover{ 
	text-decoration:none; 
}
.responsive-menu ul li a:hover{
	color: #fff;
}
.responsive-menu ul li i{
	height: 40px;
	width: 40px;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 40px;
	cursor: pointer;
	border-left:solid 1px #E9EDF1;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.responsive-menu ul li ul{ margin:0; padding:0; }
.responsive-menu ul li ul li a{ font-size:90%; padding-left:30px; border-bottom:solid 1px #E9E9E9; background-color: #F0F0F0; }
.responsive-menu ul li ul li ul li a{ font-size:80%; padding-left:30px; border-bottom:solid 1px #E9E9E9; background-color: #E4E4E4 ; }

.fixed-header .site-header{
	border-bottom: 0;
	box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.58);
}
.fixed-header{
	position:fixed;
	width:100%;
	top:-500px;
	left:0;
	background-color:#fff;
	z-index:999;
	transition: all 0.5s ease;
}
.fixed-header.active{
	top:0;
}
.fixed-header .logo{
	padding-bottom: 9px;
	padding-top: 13px;
}
.fixed-header .header-left{
	padding-bottom: 0;
	padding-top: 14px;
}
.fixed-header a.responsive-menu-hand{
	top: 18px;
}
.fixed-header .main-navigation a{
	padding: 6px 2px 16px 2px;
}
.fixed-header .main-navigation ul ul{
    top: 52px;
}
.fixed-header .main-navigation li ul li a{
	padding-left:10px;
	padding-right:10px;
}
.fixed-header .site-header .section-inner{
    padding-top: 0px;
}
@media screen and (max-width: 1115px){
	.main-navigation li {
		margin-left: 12px;
	}
	.main-navigation li.nav_login_li {
		padding-left: 15px;
	}
}
@media screen and (max-width: 1100px){
	.site-header-top .section-inner{
		letter-spacing: 1px;	
	}
	.site-header .section-inner{
		padding-top: 10px;
		max-width: 100% !important;
		width: 100% !important;
		padding-left: 40px;
		padding-right: 40px;
		display: flex;
	}
}
@media screen and (max-width: 1006px){
	.main-navigation li {
		margin-left: 10px;
	}
	.main-navigation li.nav_login_li {
		padding-left: 10px;
	}
}
@media screen and (max-width: 980px){
	a.responsive-menu-hand{
		display: block;
	}
	.main-navigation,
	.fixed-header .header-phone-social{
		display: none;
	}
	.logo{
		padding-top:20px;
	}
	.header-left{
		padding-top:10px;
	}
	
}
@media screen and (max-width: 768px){
	.site-header-top .section-inner{
	    font-size: 11.8px;
	    line-height: 1.4;
	    letter-spacing: 0.5vw;
	}
	.logo{
		padding-top: 3.1vw;
		padding-bottom: 3.1vw;
	}
	.logo img{
		max-width: 9.85vw;
	}
	.header-left{
		padding-bottom: 1vw;
		padding-top: 1vw;
	}
	a.responsive-menu-hand{
		height: 8.5vw;
		width: 8.5vw;
	}
	.site-header-top{
		padding-left: 8vw;
		padding-right: 8vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
	}
	.site-header-top .section-inner strong{
		font-size: 13px;
		padding-right: 0.5vw;
		font-weight: normal;
	}
	.fixed-header a.responsive-menu-hand{
		height: 40px;
		width: 40px;
		bottom: auto;
		top: 19px;
	}
	.fixed-header .logo img{
		width: 42px;
		padding-top: 10px;
	}
}
.mobile_only{
	display: none;
}

@media (max-width: 1250px) {
	.section-inner {
    	max-width: 1000px !important;
    	width: 1000px !important;
	}
	h2, .h2{
		font-size: 20px;	
	}
}
@media (max-width: 1100px) {
	.section-inner {
    	max-width: 900px !important;
    	width: 900px !important;
	}
}
@media (max-width: 1024px) {
	.section-inner {
    	max-width: 700px !important;
    	width: 700px !important;
	}
}
@media (max-width: 900px) {
	.section-inner {
    	max-width: 600px !important;
    	width: 600px !important;
	}
}
@media (max-width: 768px) {
	.section-inner {
    	width: 100% !important;
    	max-width: 100% !important;
	}
	.section_02 .section-inner {
	margin: auto
	}
 }
.section_hero,
.section_02,
.section_04,
.site-footer {
	padding-left: 8vw;
    	padding-right: 8vw;
}
.site-footer{
    background-color: #000000;
    padding-top: 14px;
    padding-bottom: 29px;
}
.site-footer span{
	display:block;
	width:100%;
	text-align:center;
	color:#FFF;
	font-weight: 500;
}
.site-footer span.copy_right{
	font-weight: 500;
	padding-bottom: 6px;
	font-size: 15px;
	letter-spacing: 3px;
	color: #fff;
}
.footer-menu{
	text-align: center;
	padding-bottom:30px;
	padding-top: 30px;
}
.footer-menu #footer_menu{
	margin-top: -50px;
	margin-bottom: -50px;
}
.footer-menu #footer_menu ul{
	display:none;
}
.footer-menu #footer_menu li{
	display:inline-block;
}
.footer-menu #footer_menu li a{
	color: #fff;
	padding-left:50px;
	padding-right:50px;
}
.footer-menu #footer_menu li .linkedin:before{
  	content: "\e09d";
  	font-family: "ETmodules";
  	font-size: 90px;
}
.footer-menu #footer_menu li .twitter:before{
  	content: "\e094";
  	font-family: "ETmodules";
  	font-size: 75px;
}
.footer-menu #footer_menu li .instagram:before{
  	content: "\e09a";
  	font-family: "ETmodules";
  	font-size: 75px;
}
@media (max-width: 768px) {
	
	.site-footer span.copy_right{
	    font-size: 2vw;
    	letter-spacing: 0px;	
	}
	.site-footer span.copy_right {
		font-size: 15px;
		letter-spacing: 0px;
	}
	.site-footer {
		padding-top: 5vw;
		padding-bottom: 5vw;
		padding-left: 2vw;
		padding-right: 2vw;
	}
	.footer-menu #footer_menu {
    		margin-top: 0px;
    		margin-bottom: 0px;
	}
	.footer-menu #footer_menu li .linkedin::before {
		font-size: 75px;
	}
	.footer-menu #footer_menu li .twitter::before {
		font-size: 65px;
	}
	.footer-menu #footer_menu li .instagram::before {
		font-size: 65px;
	}
	.footer-menu #footer_menu li a{
		padding-left:15px;
		padding-right:10px;
	}	
} 
.section_hero{
    height: 711px;
}
.section_hero .section-inner{
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
	padding-top: 20px;
	z-index:1;
}
.section_hero_bg{
    position: absolute;
    height: 711px;
    width: 70%;
    top: 0px;
    right: -110px;
    background-size: 1439px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url(corybg.jpg);
}
.section_hero_bg img{
	opacity: 0;
}
.section_hero_left{
    position: relative;
}
.section_hero_left h1{
    font-size: 45px;
    line-height: 1.15;
    letter-spacing: 3px;
    text-align: right;
    padding-right: 24px;
    margin-left: -107px;
    color: #000;
}

.section_hero_left span{
	display: block;
	width: 114%;
	margin-left: -105px;
	margin-bottom: 21px;
	
}
.section_hero_left .let_me {
	width:100%;
	display:block;
	text-align: right;
	margin-top: 47px;
	padding-right: 64px;
}
.section_hero_left .let_me a{
	font-size: 19px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.4;
	letter-spacing: 4.2px;
	text-align: right;
	color: #000000;
	display:inline-block;
	position: relative;
	transition: all 1s ease;
  	transform: scale(1);
}
.section_hero_left .let_me a:before {
    position: absolute;
    content: "";
    width: 97%;
    height: 2px;
    background-color: #000000;
    bottom: 0px;
    right: 8px;
}
.section_hero_left .let_me a:hover{
	transform: scale(1.1) perspective(1px);
}
.section_hero_left hr{
	background-color: #000000;
	width: 49.19%;
	margin-left: 238px;
	height: 2px;
	margin-top: -3px;
}
@media (max-width: 1100px) {
	.section_hero_bg{
    	width: 100%;
 	}
	.section_hero_left h1 {
		font-size: 40px;
	}
	.section_hero_left .let_me a{
		position: relative;
		display: inline-block;
	}
	.section_hero_left .let_me a:before{
		content: "";
		background-color: #000000;
		width: 220px;
		height: 2px;
		display: block;
		position: absolute;
		bottom: 1px;
		right: 5px;
	}
	.section_hero_left hr{
		display:none;
	}
}
@media (max-width: 1024px) {
	.section_hero_left {
		padding-left: 0px;
	}
	.section_hero_left h1 {
		font-size: 30px;
		text-align: left;
		margin-left: 0px;
	}
	.section_hero_left h1 br.mo{
		display:block;
	}
	.section_hero_left .let_me {
		text-align: left;
		padding-right: 0px;
	}
	.section_hero_left .let_me a:before {
		width: 80%;
		right: inherit;
		left: 0px;
	}
	.section_hero_left span {
		width: 100%;
		margin-left: -71px;
		margin-bottom: 21px;
	}
}
@media (max-width: 900px) {
	.section_hero .section-inner{
		padding-top: 0;
	}
	.section_hero_bg{
		right: -220px;
		background-size: 920px;
		height: 440px;
	}
	.section_hero_right{
		height: 411px;
	}
	.section_hero{
		height: 500px;
	}
	.section_hero_left .let_me a{
		font-size:14px;
		letter-spacing:3px;
	}
}
@media (max-width: 768px) {
	.section_hero_bg {
		width: 500px;
		right: -168px;	
		margin-top: -10px;
		top: 0px;
	}
	.section_hero_left span {
		width: 70vw;
		margin-left: 0;
		margin-bottom: 3.7vw;
	}
	.section_hero_left {
		padding-left: 0px;
		width: 100vw;
		padding-top: 0vw;
	}
	.section_hero_left h1 {
		font-size: 5.65vw;
		text-align: left;
		margin-left: 0px;
		padding-right: 0px;
		letter-spacing: 0.4vw;
		line-height: 1.25;
		margin-bottom: 0;
	}
	.section_hero_left h1 mark{
		margin-left:1.5vw;
	}
	.section_hero_left .let_me a {
		line-height: 3.44;
		font-size: 2.7vw;
		letter-spacing: 0.6vw;
	}
	.section_hero_left .let_me a:before {
		width: 29vw;
		right: inherit;
		left: 0px;
		height: 1px;
	}
	.section_hero_left .let_me a:hover {
    		transform: scale(1.3) perspective(1px);
	}
	.section_hero_right{
		display:none;
	}
	.section_hero_left .let_me{
		margin-top: 4.2vw;
	}
	.section_hero{
		height: 436px;
	}
}

h2 .fontstyle{
	display: block;
}
.section_02{
	position:relative;
	padding-top:20px;
	background-color: #f2f6fa;
}
.section_02 .section-inner{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
}
.section_02__left {
	margin-top: -50px;
	padding-right: 150px;
}
.section_02__left_container{
	width: 300px;
	background-size: cover;
	height: 468px;
	background-image: url(cory2.png);
}
.section_02__left_container img{
	opacity:0;
}
.section_02__right{
	width: 512px;
	padding-top: 0px;
}
.section_02__right h2{
	letter-spacing: 2.5px;
}
.section_02__right h2 span{
	color: #000000;
	text-align: center;
	display: block;
}
.section_02__right h2 .fontstyle{
	font-size: 69px;
	color: #000000;
	text-align: right;
	margin-top: -15px;
	transform: none;
	margin-left: 4px;
	letter-spacing: 1px;
}
.section_02__right h3{
	position:relative;
	text-align: center;
	font-size: 36px;
	line-height: 1.25;
	letter-spacing: 1.5px;
	color: black;
	margin-top: 34px;
}
.section_02__only_content{
	margin-left: 618px;
	margin-top: -100px;
}
.section_02__only_content article{
	padding-top: 29px;
	padding-bottom: 35px;
}.section_02__only_content article p{
	color: #000000;
	padding-bottom: 21px;
	font-size: 18.5px;
	letter-spacing: .1px;
	line-height: 1.8;
}
.section_02__only_content .button-alt2{
	display: inline-block;
	font-size: 18.5px;
	font-weight: 500;
	color: #000;
	letter-spacing: 3px;
	position: relative;
	padding-bottom: 15px;
	transition: all 1s ease;
  	transform: scale(1);
	margin-left: 10px;
}
.section_02__only_content .button-alt2:before {
    position: absolute;
    content: "";
    width: 165px;
    height: 2px;
    background-color: #000000;
    bottom: 0px;
    left: 0px;
}
.section_02__only_content .button-alt2:hover{
	transform: scale(1.1) perspective(1px);
}
@media (max-width: 1250px) {
	.section_02__right h2 .fontstyle {
		font-size: 49px;
	}
}
@media (max-width: 1100px) {
	.section_02 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
@media (max-width: 1024px) {
	.section_02__left {
		width: 100%;
		margin-top: 0px;
	}
	.section_02__left_container{
		height:auto;
	}
	.section_02__left_container img{
		width:100%;
		opacity:0;
	    height: auto;
	}
	.section_02__right {
		width: 100%;
		padding-top: 25px;
	}
	.section_02__right h2{
		display:none;
	}
	.section_02__right h2 .fontstyle {
		margin-top: -10px;
	}
	.section_02__right h3 {
		margin-top: 0px;
		padding-right: 15px;
		font-size: 3.6vw;
	}
	.section_02__only_content {
		padding-left: 21.6px;
		margin-left: 0px;
		margin-top: -15px;
	}

	.section_02:after {
		height: 72%;
	}
}

@media (max-width: 768px) {
	.section_02:before {
		width: 29vw;
		height: 0px;
		background-size: contain;
		background-position: top right;
		left: 30px;		
	}
	.section_02__right h2{
	    font-size: 8vw;
	    letter-spacing: 0.4vw;
	}
	.section_02__right h2 .fontstyle {
		margin-top: -1.2vw;
		font-size: 7.7vw;
		margin-left: 1vw;
		letter-spacing: 0.2vw;
		margin-right: 1vw;
		padding-left: 46.5vw;
	}
	.section_02__only_content article p{
		font-size: 4vw;
		padding-bottom: 0;
		line-height: 1.7;
		margin-bottom: 5px;
	}
	.section_02__only_content article p:last-child{
		margin-bottom:0
	}
	.section_02__only_content .button-alt2{
		line-height: 3.44;
		font-size: 2.7vw;
		letter-spacing: 0.6vw;
		padding-bottom: 0;
		margin-top: 2.3vw;
		margin-left: -20px;
	}
	.section_02__only_content .button-alt2:hover{
		transform: scale(1.3) perspective(1px);
	}
	.section_02__only_content .button-alt2:before{
		width: 96%;
		right: inherit;
		left: 0px;
		height: 1px;
	}
	.section_02{
		padding-top: 0px;
		padding-bottom: 5px;
	}
	.section_02__right h2 span{
		text-align: center;
	}
	.section_02__right.mobile_only h2{
		margin-top: 5px;
	}
	.section_02__left_container{
		border-width: 1.5vw;
		margin-left: 0px;
		width: 157px;		
	}
	.section_02__left_container:before{
		width: 40vw;
		height: 30vw;
		bottom: -11.5vw;
		left: -18vw;
	}
	.section_02__right{
		padding-top: 0px;
	}
	.section_02__right h3{
		font-size: 4.5vw;
		padding-right: 0;
		line-height: 1.45;
		text-align: center;
		height: 140px;
		margin-top: -250px;
		padding-left: 160px;
		padding-top: 20px;
	}	
	.section_02__right article{	
		margin-top: 110px;
	}
	.section_02:after{
		width: 27px;
		height: 0px;
	}
	.section_02__only_content article{
		padding-top: 0;
		padding-bottom: 0;
	}
}

#learnmore {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
}

.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out; 
	transform: scale(0.8); 
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1); 
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8); 
	opacity: 0;
}
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
.section_04 .section-inner{
	max-width: 1178px;
}
.section_04__only_content{
	padding-bottom: 10px;
}
.section_04__only_content_in{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section_04__content_items h2:after{
	content: "";
    position: absolute;
    top: -0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.section_04__content_items h2{
	color: #9966e5;
	position:relative;
}
.section_04__content_items h2::first-letter {
	font-size: 87px;
	margin-top: 17px;
	vertical-align: sub;
}
.section_04__content_items a{
	display: block;
	font-size: 40px;
    	font-weight: 700;
	text-align: center;
}
.section_04__content_items.section_04__items_2 p{padding-left: 120px;}
.section_04__content_items p strong{
	color: #000000;
	text-align: left;
}

@media (max-width: 1250px) {
	.section_04__top h2 .fontstyle{
		font-size: 49px;
	}
}
@media (max-width: 1100px) {
	.section_04__top h2 .fontstyle {
		padding-left: 182px;
	}
	.section_04__top:after {
		width: 55%;
	}
}
@media (max-width: 1024px) {
	.section_04__top:after {
		width: 40%;
	}
	.section_04__content_items {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.section_04__top h2{
		font-size: 8vw;
		letter-spacing: 0.4vw;
		text-align: center;
	}
	.section_04__top h2 span{
		position:relative;
	}

	.section_04__top h2 .fontstyle {
		font-size: 7.4vw;
		padding-left: 20vw;
		margin-top: 0px;
	}
	.section_04__top:after {
		width: 17vw;
		right: inherit;
		left: -20vw;
		display: none;
	}
	.section_04__content_items h2 {
		font-size: 7vw;
		margin-bottom: 0;
	}
	.section_04__content_items h2 span {
		font-size: 6vw;
		margin-top: 0vw;
		vertical-align: sub;
	}
	.section_04__content_items h2::first-letter {
		font-size: 10vw;
		margin-top: 0vw;
		vertical-align: sub;
	}
	.section_04__content_items p {
		padding-left: 13vw;
		font-size: 3vw;
		line-height: 1.2;
		margin-top: -5vw;
	}
	.section_04__content_items.section_04__items_2 p,
	.section_04__content_items.section_04__items_3 p{
		padding-left: 13vw;
	}
	.section_04__content_items {
		width: 50%;
		padding-bottom: 20px;
	}
	.section_04__top{margin-left: -105px;}
	.section_04__only_content{
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;
	}	
	.section_04__only_content_in{
	display: inline-block;
	}
	.section_04__content_items {
		position:relative;
		padding-bottom: 20px;
	}
	.section_04__content_items:after{
		content:" ";
		background-color: #22bede;
		width: 10vw;
		height: 0.9vw;
		position: absolute;
		left: 50%;
		margin-left: -5vw;
	}
	.section_04__items_1{
		width: 100%;
	}
	.section_04__items_2{
		width: 100%;
	}
	.section_04__items_3{
		width: 100%;
	}
	.section_04__items_4{
		width: 100%;
		padding-bottom:0;
	}
	.section_04__items_4:after{
		display:none;

	}
}
.section_04.section_04_new{
	position: relative;
	padding-bottom: 0px;
}
