div {
  text-align: center;
  font-family: Roboto;
  font-size: 26pt;
  color: #00000;
  border: 0px;
  padding: 0px;
}
#bar {
  postion: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 97%;
  background: #FFFFFF;
}
#header {
  postion: absolute;
  width: 375px;
  height: 50px;
  left: 0px;
  top: 20px;
}
#maintext {
  postion: absolute;
  width: 304px;
  height: 56.96px;       
  left: 35px;
  top: 85.54px;
}
#mainbutton {
  postion: absolute;
  width: 264px;
  height: 51px;       
  left: 55px;
  top: 161px;
}
#separatorgreen {
  postion: absolute;
  width: 377px;
  height: 25px;       
  left: -2px;
  top: 240px;
}       
#reportissue {
  postion: absolute;
  width: 282px;
  height: 162px;       
  left: 47px;
  top: 289px;
}
#separatorred {
  postion: absolute;
  width: 377px;
  height: 25px;       
  left: -2px;
  top: 486px;
}
#mainbutton {
  postion: absolute;
  width: 264px;
  height: 51px;       
  left: 55px;
  top: 547px;
}
#rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10.34%;
  bottom: 40.03%;
  background: #EFEFF4;
  mix-blend-mode: normal;
  opacity: 0.85;
}
#transittalkabout {
  position: absolute;
  left: 9.33%;
  right: 9.6%;
  top: 11.84%;
  bottom: 40.93%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;/* or 117% */
  color: #000000;
}

